<!doctype html>
<html>

<head>
  <link rel='stylesheet' href='/css/sigup.css' />
</head>

<body>
  <div id="sigup">
    <h1>Signup</h1><br>
    <form action="/users/signup" method="POST">
      <label for="username"> Username:</label>
      <input id="username" name="username" type="text" /><br /><br>
      <label for="password">Password:</label>
      <input id="password" name="password" type="password" /><br /><br>
      <label for="email"> E-mail:</label>
      <input id="email" name="email" type="text" /><br /><br>
     
     Perfil: 
      <select id="profile" name="profile">
        <option value="1">Usuário</option>
        <option value="2">Administrador</option>
      </select><br /><br>
      <input type="submit" value="Save" id="inputsigup" />
    </form>
    <% if(message) { %>
    <p>
      <label style="color:Red"><%= message %></label>
    </p>
    <%}%>
  </div>
  </body>
</html>